{% extends 'base.html.twig' %}

{% block content %}
    <section class="text-center">
        <div class="container pt-5">
            <h1 class="jumbotron-heading">Bonjour !</h1>
            <p class="lead text-muted">Et bienvenu sur mon rendu pour l'examen d'Angular.</p>
            <p>
                <a>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus sollicitudin lobortis felis, et iaculis purus. Suspendisse non nibh est. Phasellus sit amet eros ac justo ultricies fermentum sed in nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Proin quis lacus at justo tempor semper. Vivamus lacus arcu, ullamcorper eget nulla sed, rhoncus venenatis lorem. Quisque cursus a ex sed eleifend. Proin vel sapien dapibus, ornare turpis in, dictum risus.</a>
                <br><br>
                <a>Mauris ut nunc finibus nunc varius ullamcorper quis consequat justo. Aenean ac risus ex. Fusce odio tellus, hendrerit at dui sed, tempor hendrerit magna. Maecenas viverra ligula ac quam suscipit iaculis. Sed varius odio in eros pellentesque fringilla id ut nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Curabitur dolor est, aliquet vitae blandit euismod, aliquet a mauris.</a>
                <br><br>
                <a>Quisque fringilla ut erat ac blandit. Vivamus accumsan ut libero ut cursus. Pellentesque elementum nunc non eros molestie iaculis. Curabitur consequat lobortis maximus. Nullam a mauris dictum, mattis quam non, dignissim ligula. Donec in metus at elit efficitur efficitur sed at lorem. Integer egestas dolor et purus dapibus interdum. Aliquam erat volutpat.</a>
                <br><br>
                <a>Sed at est ornare, commodo arcu eu, rutrum mi. Nulla gravida sagittis iaculis. Nunc in tellus felis. Sed quis cursus lacus. In elementum posuere laoreet. Fusce vel vehicula enim, quis fringilla nulla. Donec dignissim mi quis est varius aliquet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</a>
                <br><br>
                <a>Mauris congue odio et massa scelerisque, sit amet commodo elit dapibus. Donec sed sem elit. Aliquam ultrices tincidunt viverra. Praesent tincidunt id leo eget malesuada. Donec laoreet malesuada rutrum. Nam nisi justo, accumsan ac justo ac, scelerisque ultrices urna. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque elementum nulla ac dolor dapibus interdum. Proin sed justo vel tortor pharetra lacinia a ut dolor. Integer consequat nisi quis felis euismod, eu hendrerit nunc fringilla. Vestibulum vel gravida tortor, vel dictum dolor. Etiam id maximus neque, eget aliquet mauris. Etiam eu diam semper, laoreet sapien ut, vestibulum ipsum. Ut tristique efficitur nunc, eu fringilla lectus luctus at.</a>
            </p>
        </div>
    </section>
{% endblock %}