<nav class="navbar navbar-expand-lg navbar-dark bg-dark position-sticky ml-4">
    <a class="navbar-brand" href="{{ path('home_page') }}">WebService</a>
    <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('artiste') }}">Artiste</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('morceau') }}">Morceau</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Soap</a>
            </li>
        </ul>
    </div>
</nav>